name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Lint
        run: |
          pip install ruff black
          ruff check .
          black --check .

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Tests
        run: |
          pip install pytest pytest-cov
          pytest --cov=src --cov-fail-under=80

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build & Push Docker image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}:${{ github.sha }}
          docker build -t $IMAGE .
          docker push $IMAGE

  canary-deploy:
    needs: docker-build
    runs-on: ubuntu-latest
    steps:
      - name: Run Docker image (canary)
        run: |
          IMAGE=ghcr.io/${{ github.repository }}:${{ github.sha }}
          docker run -e CANARY=true -d -p 8080:8000 $IMAGE

  acceptance-tests: #this wont pass until the pytest doesn't successfully
    needs: canary-deploy
    runs-on: ubuntu-latest
    steps:
      - name: Run basic API checks
        run: |
          for endpoint in "/health" "/predict" "/metrics"; do
            STATUS=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:8080$endpoint)
            if [ "$STATUS" -ne 200 ]; then
              echo "$endpoint failed with $STATUS"
              exit 1
            fi
          done
